<div id="contenido" class="p-3">
    <p-card header="Contenidos">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus incidunt impedit ut fugit blanditiis quasi natus molestias, provident sed culpa dicta ea. Sint numquam iste molestias, cupiditate repellendus saepe fugit!
        </p>
        <p>
            Excepturi, adipisci quasi minus necessitatibus placeat consequatur modi repellendus saepe eaque dolores nihil, possimus iste voluptatibus quas eos ratione vero, quis in.
            Quisquam, doloribus officia? Tempore architecto est quae, fugit at id voluptate incidunt exercitationem sit nisi vel officia. Obcaecati amet iste quibusdam. Libero dolorem minus nostrum iste, possimus quo non quisquam?
            Qui rem distinctio fuga fugit. Dolor, officia. A placeat eum nam quas dignissimos ad assumenda dolorum quidem saepe ut adipisci voluptates officia culpa quis labore velit consequuntur exercitationem, corrupti officiis.
            Maiores veniam dicta voluptates fugit reprehenderit. Temporibus odio totam, quis eaque quo fugit? Eos reiciendis, quibusdam obcaecati possimus illo rerum ullam sapiente error eveniet dolorum sunt, necessitatibus ipsum aperiam non.
            Ut quas cumque nisi sapiente id illo distinctio temporibus tempora saepe dolore fuga earum voluptate ipsa eius doloremque pariatur corrupti facilis, officiis necessitatibus. Ducimus veniam illum maiores eos inventore tempore?
            Suscipit amet officiis nostrum repellat a soluta nihil maxime id. Pariatur fuga est sit harum voluptatum iure ratione vero inventore? Dolor dolorum quasi assumenda minus nesciunt nostrum nihil exercitationem impedit.
        </p>
        <p-button severity="primary">Primary</p-button>
        <p-button severity="secondary">Secondary</p-button>
        <p-button severity="success">Success</p-button>


    </p-card>

</div>
