/*
Aquí añadiremos estilos para forzar algunos estilos contenido html generado por el markdown-it
*/
.markdown-body { 
  padding: 1rem;
}

/*
  Aplicamos fira code a todo el código, ya sea en bloques, en línea o para kbd.
  Usamos !important para asegurar que esta regla anule a las del tema base.
*/
.markdown-body pre code,
.markdown-body code,
.markdown-body kbd {
  font-family: 'Fira Code', monospace !important;
}


/*
  Las imágenes, las convierte en elementos de bloque y las centra horizontalmente.
*/
.markdown-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ==============================================
   ESTILOS PARA BLOQUES DE CÓDIGO (Versión Simplificada Final)
   ============================================== */

/* --- Estructura --- */
.code-block-wrapper app-code-header {
  display: block;
}

.code-block-wrapper {
  margin-bottom: 1.5rem;
  border-radius: 8px;
  overflow: hidden;
  /* Se define el grosor y estilo, pero no el color */
  border: 1px solid;
}

.code-block-wrapper pre {
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  /* Se define el grosor y estilo, pero no el color */
  border-top: 1px solid !important;
}


/* --- Colores de borde por Tema --- */

/* Tema Claro */
[data-theme="light"] .code-block-wrapper,
[data-theme="light"] .code-block-wrapper pre {
  border-color: var(--p-surface-300) !important;
}

/* Tema Oscuro */
[data-theme="dark"] .code-block-wrapper,
[data-theme="dark"] .code-block-wrapper pre {
  border-color: var(--p-surface-700) !important;
}